.test-selector {
  content: 'test selector';
}

.test-another-selector {
  content: 'test another selector';
}

.nest .nested-test-selector {
  content: 'nested test selector';
}

@media (min-width: 30em) {
  .nested-in-media-query {
    content: 'nested in media query';
  }
}
